---
layout: archive
title: Blog Archive 
permalink: /blog/ 
---
  
<!--start post index-->
<div id="blog" class="page even">
  <div class="content clearfix">
    <h1><span>{{page.title}}</span></h1>
    <!--post content-left-->
    
    <div class="content-inner-left">
      <div class="blog-post">
        <div class="blog-post-content">
          {% for post in site.posts %} 
            <div class="blog-post-type video"></div>
            <div class="blog-post-content-inner">
              <ul class="posts">
                <div>{{ post.date | date_to_html_string }}</div>
                <h5><span><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h5>
                <div class="categories">Filed under {{ post.categories | category_links }}</div> 
              </ul>
            </div><!-- end blog-post-content-inner -->
          {% endfor %}
        </div><!-- end blog-post-content -->
      </div><!-- end blog-post -->
    
      <!--start pagination-->
      <div class="blog-pagination">	
        <ul>
          <li><a class="active" href="">1</a></li>
          <!-- <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li> -->
        </ul>
      </div>    
    </div>
            
    <!--start sidebar-->
    <div id="sidebar" class="left">
      <ul>
      <!--widget-cats-->
        <li class="widget-categories">
          <h6 class="widgettitle">
            <span>Recent Categories</span>
          </h6>
          <ul>
          <!-- THIS IS HOW TO REACH INTO A SITE'S CATEGORY FOLDER AND LINK TO TO IT -->
            {% for post in site.categories['core basics'] limit:1  %}
            <li>
              {{ post.categories | category_links | capitalize }}
            </li>
            {% endfor %}
        
            {% for post in site.categories['cheatsheets'] limit:1 %} 
            <li>
              {{ post.categories | category_links | capitalize }}
            </li>
            {% endfor %}
        
            <!-- THIS IS HOW TO REACH INTO A SITE'S 'CATEGORIES' FOLDER AND LINK TO TO IT SEE CATEGORY GENERATOR -->
            {% for post in site.categories['tutorials'] limit:1 %}
            <li>
              {{ post.categories | category_links | capitalize }}
            </li>
            {% endfor %}
          </ul>                        
        </li>
                  
        <!--widget-tag-cloud-->
        <li class="widget-tag-cloud">
          <h6 class="widgettitle">Tag <span>Cloud</span></h6>
          {% assign tags_list = site.tags %}
          {% include TAG/tags_list %}
        </li>
      </ul>
    </div><!--end sidebar-->
  </div>   
</div>