<div class="btn-group dropup">
  <button class="btn">Next Cheatsheet</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% capture location %}{{ page.url | remove_first:'/' | split:'/' | last }}{% endcapture %}
    <li><a {% if location == 'tutorials' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/">Command Line Basics</a></li>
    <li><a {% if location == 'git' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/git">Using Git with Repos</a></li>
    <li><a {% if location == 'install_git' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/install_git">How to Install Git</a></li>
    <li><a {% if location == 'git_repo' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/git_repo">How to Create a Git Repository</a></li>
    <li><a {% if location == 'clone_pull' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/clone_pull">How to Clone Fetch, Pull and Push</a></li>
    <li><a {% if location == 'merge_branches' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/merge_branches">Create and Merge Git Branches</a></li>
    <li><a {% if location == 'rollback' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/rollback">How to Rollback a Git Repository</a></li>
    <li><a {% if location == 'deploy_to_heroku' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/deploy_to_heroku">Deploying to Heroku</a></li>
    <li><a {% if location == 'rvm' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/rvm">RVM: Ruby Version Control</a></li>
    <li><a {% if location == 'basic_ruby' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/basic_ruby">Basic Ruby</a></li>
    <li><a {% if location == 'scaffolding' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/scaffolding">Scaffolding Basics</a></li>
    <li><a {% if location == 'basic_testing' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/basic_testing">Overview of Basic Testing</a></li>
  </ul>     
</div> <!-- //btn-group dropup  -->
