<div id="contact" class="page even">
  <!--start content -->
  <div class="content clearfix">      
    <!--content-left-->
    <div class="content-inner-left">
      <h1><span>Get in touch!</span></h1>
      <p>Reach out, we're happy to hear from you!</p>      
      
      <!-- THIS IS THE NEW FORM -->
      <form class="jotform-form" action="http://submit.jotform.us/submit.php" method="post" name="form_40871082820148" id="40871082820148" accept-charset="utf-8">
        <input type="hidden" name="formID" value="40871082820148" />
        <div class="form-all">
          <ul class="form-section">
            <li class="form-line" id="id_1"> 
              <div id="cid_1" class="form-input">
                <input type="text" class="form-textbox validate[required] required" data-type="input-textbox" id="input_1" name="q1_name" size="20" value="" maxlength="20" />
              </div>
            </li>
            <li class="form-line" id="id_2">
              <div id="cid_2" class="form-input">
                <input type="text" class="form-textbox validate[required, Email] required" data-type="input-textbox" id="input_2" name="q2_email2" size="20" value="" />
              </div>
            </li>
            <li class="form-line" id="id_3">
              <label class="form-label-left" id="label_3" for="input_3"> I'd like to talk to you about: </label>
              <div id="cid_3" class="form-input">
                <select class="form-dropdown" style="width:220px" id="input_3" name="q3_subject">
                  <option value="Choose a Topic">Choose a Topic</option>
                  <option value="Mentoring"> Mentoring </option>
                  <option value="Providing an Demo"> Providing an Demo </option>
                  <option value="Helping Out"> Helping Out </option>
                  <option value="Sponsorship"> Sponsorship </option>
                  <option value="See my Message"> See my Message </option>
                </select>
              </div>
            </li>
            <li class="form-line" id="id_4">
              <div id="cid_4" class="form-input">
                <textarea id="input_4" class="form-textarea validate[required] required" name="q4_message" cols="30" rows="6" value=""></textarea>
              </div>
            </li>
            <p class="pd-20-l">*= Required!</p> 
        
            <li class="form-line" id="id_5">
              <div id="cid_5" class="form-input-wide">
                <div style="text-align:left" class="form-buttons-wrapper">
                  <button id="input_5" type="submit" class="form-submit-button submit submitTheme" style="margin-right: 20px;">    <!-- updated class with: submit submitTheme -->
                    SEND
                  </button>
                  &nbsp;
                  <button id="input_reset_5" type="reset" class="form-submit-reset submit submitTheme">  <!--  update class with: submit submitTheme -->
                    Clear Form
                  </button>
                </div>
              </div>
            </li>
        
            <li style="display:none">
              Should be Empty:
              <input type="text" name="website" value="" />
            </li>
          </ul>
        </div>  
        <input type="hidden" id="simple_spc" name="simple_spc" value="40871082820148" />
        <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "40871082820148-40871082820148";
        </script>
      </form>
      <img src="//tracking.jotform.com/form/40871082820148" style="display:none" />
    </div>  
    <!-- END -->
    
    
    <!--start sidebar-->
    <div id="sidebar" class="left">
      <ul>
        <li class="widget-text">
          <h6 class="widgettitle"><span>Connect with Us</span></h6>
          <!--social networks-->
          <ul class="socialSmall odd">
            <li><a class="pinterest" href=""></a></li>
            <li><a class="twitter" href=""></a></li>
            <li><a class="facebook" href=""></a></li>
            <li><a class="skype" href=""></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
