<div id="contact" class="page even">
  <!--start content -->
  <div class="content clearfix">      
    <!--content-left-->
    <div class="content-inner-left">
      <h1><span>Get in touch!</span></h1>

      <form action="http://getsimpleform.com/messages?form_api_token=[ef37f66b359f020339d7570de35c01e2]" method="post" class="contactForm form" id="contact-form">
        <!-- all your input fields here.... -->
        <p>Reach out, we're happy to hear from you.</p>
        <p><input type='text' name='name' class="required" id="name" value="Your Name" /></p>
        <p><input type="text" name="email" class="required" id="email" value="E-mail" /></p>
        <p class="pd-20-l">I'd like to talk to you about:                                                               

          <select name="subject">
            <option>Mentoring</option>
            <option>Providing an Demo</option>
            <option>Helping Out</option>
            <option>Sponsorship</option>
            <option>See my Message</option>
          </select>
        </p>
        <!-- <p><textarea class="required" name="details" style="width: 100%;" rows="" cols="">Message...</textarea></p> -->
        <textarea  class="required" name="message" id="message" rows="" cols="">Message</textarea>
        <p class="pd-10">Cheers!</p>
        <input type="submit" value="SEND" class="submit submitTheme" id="submitform" />
        <span id="msg">* = required field</span>
      </form> 
    </div>
    <!--start sidebar-->
    <div id="sidebar" class="left">
      <ul>
        <li class="widget-text">
          <h6 class="widgettitle"><span>Connect with Us</span></h6>
          <!--social networks-->
          <ul class="socialSmall odd">
            <li><a class="pinterest" href=""></a></li>
            <li><a class="twitter" href=""></a></li>
            <li><a class="facebook" href=""></a></li>
            <li><a class="skype" href=""></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>



 