  <!--start footer-->
	<div id="footer" class="even">

		<div class="content">
    
      <ul class="navigation">
        <li><a class="navigateTo pd-25-r" href="{{ site.baseurl}}/#homepage">Welcome</a></li>
        <li><a class="navigateTo pd-25-r" href="{{ site.baseurl}}/#features-1">Meetups</a></li>
        <li><a class="navigateTo pd-25-r" href="{{ site.baseurl}}/#features-2">Mentors</a></li>
        <li><a class="navigateTo pd-25-r" href="{{ site.baseurl}}/#signup">Sign Up</a></li>
        
        {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
        <li class="pd-25-r"><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">Blog</a></li>
        <li class="pd-25-r"><a {% if location == 'tutorials' %}class="active" {% endif %}href="{{ site.baseurl}}/tutorials/">Tutorials</a></li>
        <li class="pd-25-r"><a {% if location == 'contact' %}class="active" {% endif %}href="/contact/">Contact</a></li>
      </ul> <!-- end navigation  -->
      <div class="clearfix"></div>
      <div class="contact">
        <p>
          Rails bridge is run entirely by donations! <br /> 
          All donations go thru the fiscal sponsor School Factory, <br /> 
          for more information contact <a href="mailto:hello@railsbridge.org">hello@railsbridge.org</a> <br /> 
          Thanks in advance!
        </p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input name="cmd" type="hidden" value="_s-xclick">
          <input name="hosted_button_id" type="hidden" value="KSZ73WW554HP2">
          <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image">
          <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
        </form>   
      </div>
      <div class="clearfix"></div>
    </div> <!-- end content  -->
    <div class="content">
 		  
			<!--logo-->
      <div class="logo">
			  <div class="logo-homepage brand">
				  <a class="brand navigateTo" href="#homepage">{{ site.name }}</a>
				</div>
      </div> <!-- end logo -->
            
      <!--copyright-->
      <p class="copyright">&copy; <a href="/" title="RailsBridgeLA">RailsBrdigeLA</a> 2014. All rights reserved.</p>
            
      <!--social-->
      <div id="social-share">
      	<!--fb-->
        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.facebook.com/unlimitdesign&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=291686137521455" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;float:left;"></iframe>
        
        <!--twitter-->
      	<a href="http://twitter.com/share?url=http://www.meetup.com/Los-Angeles-Womens-Ruby-on-Rails-Group/&amp;text=Learn to code with RailsBridgeLA!" class="twitter-share-button">Tweet</a>
      </div> <!-- end social-share -->
    
    </div> <!-- end content -->
        
  </div>
  <!--end footer-->

</div>        
<!--end wrapper-->


<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'railsbridgela'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
