  <!--start footer-->
	<div id="footer" class="even">

		<div class="content">
    
      <div class="contact">
        <p>
          Contact us at: <br />
          Join our Meetups!<br />
          anna@gmail.com ( TBD )
        </p>
      </div> <!-- end contact -->
      
      <div class="contact">
        <p>
          <a href="https://github.com/yourusername">github.com/yourusername</a><br />
          <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
        </p>
      </div> <!-- end contact   -->
    </div> <!-- end content  -->
    
    <div class="content">
 		  
			<!--logo-->
      <div class="logo">
			  <div class="logo-homepage brand">
				  <a class="brand navigateTo" href="#homepage">{{ site.name }}</a>
				</div>
      </div> <!-- end logo -->
            
      <!--copyright-->
      <p class="copyright">&copy; <a href="/" title="EXAMPLE">SOMETHING TO THINK ABOUT</a> 2014. All rights reserved.</p>
            
      <!--social-->
      <div id="social-share">
      	<!--fb-->
        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.facebook.com/unlimitdesign&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=291686137521455" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;float:left;"></iframe>
        
        <!--twitter-->
      	<a href="http://twitter.com/share?url=http://udthemes.com/&amp;via=twitterapi&amp;text=Check out @UDTHEMES, a really cool WordPress Theme %26 HTML Template Shop." class="twitter-share-button">Tweet</a>
      </div> <!-- end social-share -->
    
    </div> <!-- end content -->
        
  </div>
  <!--end footer-->

</div>        
<!--end wrapper-->

</body>
</html>
