{% include header_posts.html %}  

<!--start post index-->
  <div id="blog" class="page odd">
    <!--start content - left-->
    <div class="content clearfix">
    	<h1><span>{{page.title}}</span></h1>
      <!--post content-left-->
    	<div class="content-inner-left">
        <!--start post-->	
        <div class="blog-post">
          <div class="blog-post-content">
            <div class="blog-post-media">
              <div class="video" style="width:620px;height:348px;">
                <iframe src="{{page.video}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
            </div>
                                                                     
            <div class="blog-post-type video"></div>
            <div class="blog-post-content-inner">
              <h5><span>{{page.title}}</h5>
              <div class="blog-post-meta">
                <ul>
                  <li>{{page.date | date: "%a, %b %d, %y"}}</li>
                  <li class="separator">|</li>
                  <li>Comments: <span>35</span></li>
                  <li class="separator">|</li>
                  {% for member in site.data.members %}
                    <li>Posted by: <a href="#">{{ member.name }}</a></li>
                  {% endfor %}
                  <li class="separator">|</li>
                  {% for post in site.categories[page.category] %}
                    <li>In <span>{{ post.categories | category_links | capitalize }}</span></li> 
                  {% endfor %}
                </ul>
              </div>
              <!--end post meta-->
              
              {{ page.content }}
            
            </div><!-- end blog-post-content-inner -->
          </div><!-- end blog-post-content -->
        </div><!-- end blog-post -->
        
        <h4><span>Post a Comment</span></h4>
        <div class="blog-post-comments">
           {% if page.comments %}
           <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'railsbridgela'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
         {% endif %} 
        </div>
     
        <!--start pagination-->
        <div class="blog-post-navigation">	
          <div id="previous-post">
            <a href="">&#171; Prev Post Title</a>
          </div>
       
          <div id="next-post">
            <a href="">Next Post Title &#187;</a>
          </div>
        </div>
      </div>
      <!--start content - left-->
         
      <!--start sidebar-->
      <div id="sidebar" class="left">
        <ul>
        <!--widget-recent-posts-->
          <li class="widget-recent-post">
            <h6 class="widgettitle">
              <span>Recent Posts</span>
            </h6>
            <ul>
              {%  for post in site.posts offset: 0 limit: 10 %}
              <li>
                <a href="{{ post.url }}">{{page.title}}</a>
                <p class="date">
                  {{page.date | date: "%a, %b %d, %y"}}
                </p>
              </li>
              {% endfor %}                        
            </ul>
          </li>
                
          <!--widget-cats-->
          <li class="widget-categories">
            <h6 class="widgettitle">
              <span>Recent Categories</span>
            </h6>
            <ul>
            <!-- THIS IS HOW TO REACH INTO A SITE'S CATEGORY FOLDER AND LINK TO TO IT -->
              {% for post in site.categories['blog'] %}
              <li>
                <a href="{{site.baseurl}}{{site.categories[0]}}">{{post.category | capitalize }}</a>
              </li>
              {% endfor %}
          
              {% for post in site.categories['cheatsheets'] %} 
              <li>
                <a href="{{site.baseurl}}{{site.categories[0]}}">{{post.category | capitalize }}</a>
              </li>
              {% endfor %}
          
              <!-- THIS IS HOW TO REACH INTO A SITE'S 'CATEGORIES' FOLDER AND LINK TO TO IT SEE CATEGORY GENERATOR -->
              {% for post in site.categories['tutorials'] %}
              <li>
                {{ post.categories | category_links | capitalize }}
              </li>
              {% endfor %}
            </ul>                        
          </li>
      
          <!--widget-twitter-->
          <li class="widget-twitter">
            <h6 class="widgettitle">
              <span>Twitter Widget</span>
            </h6>
            <div id='filter' class="query"></div>
          </li>
                    
          <!--widget-tag-cloud-->
          <li class="widget-tag-cloud">
            <h6 class="widgettitle">Tag <span>Cloud</span></h6>
            {% assign tags_list = site.tags %}
            {% include TAG/tags_list %}
          </li>
        </ul>
      </div>
      <!--end sidebar-->
    </div>
  </div>
  <!--end blog index--> 

  <div class="clear"></div>
  {% include footer.html %}